
body {
    padding: 10px;
    margin: 5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;

  }
 

  .student0 {
    color:red;
    background:white;
    text-align: center;
   height: max-content;
   line-height: normal;

    
  }

  .student2{
      width:85%;
      float: right;
      
  }
  .student3{
      margin: auto;
      width:30%
   
  }
